Repository OutSystems/docs-product, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OutSystems/technical-knowledge-group, @claudiacarpinteiro, @rmlos

no message
  toc.yml
Owners: @OutSystems/technical-knowledge-group

fixing formatting
  src/extensibility-and-integration/rest/consume-rest-apis/refresh-rest-service.md
Owners: @OutSystems/technical-knowledge-group

minor changes
  src/extensibility-and-integration/rest/consume-rest-apis/refresh-rest-service.md
  toc.yml
Owners: @OutSystems/technical-knowledge-group

AppShield life cycle
  src/deliver-mobile/app-shield/images/life-cycle-dia.png
  src/deliver-mobile/app-shield/intro.md
Owners: @rmlos

Update configure-internal-network.md
  src/managing-the-applications-lifecycle/secure-the-applications/configure-internal-network.md
Owners: @claudiacarpinteiro

no message
  toc.yml
Owners: @OutSystems/technical-knowledge-group

Update the configuration reference
  src/deliver-mobile/app-shield/intro.md
Owners: @rmlos

Improved formatting of the nested lists
  src/extensibility-and-integration/rest/consume-rest-apis/refresh-rest-service.md
Owners: @OutSystems/technical-knowledge-group

Edited for right audience
  src/deliver-mobile/app-shield/intro.md
Owners: @rmlos

Added the release notes of May 13 release
  src/extensibility-and-integration/artificial-intelligence/ml-builder/release-notes.md
Owners: @rmlos

Update use-external-lib.md (#180)
  src/extensibility-and-integration/javascript/mobile/use-external-lib.md
Owners: @OutSystems/technical-knowledge-group

Fixing video iframe
  src/extensibility-and-integration/javascript/mobile/use-external-lib.md
Owners: @OutSystems/technical-knowledge-group

Minor change
  src/extensibility-and-integration/javascript/mobile/use-external-lib.md
Owners: @OutSystems/technical-knowledge-group

Fixed iframe
  src/extensibility-and-integration/javascript/mobile/use-external-lib.md
Owners: @OutSystems/technical-knowledge-group

Images related to Human Activity documentation improvement. (TK-3044)
  src/ref/lang/auto/images/process-human-activity-properties-ss.png
  src/ref/lang/auto/images/process-human-activity-taskbox.png
Owners: @OutSystems/technical-knowledge-group

docs: RRCT-3629 - end user information details (#212)
  src/ref/lang/auto/Class.Human Activity.begin.md
Owners: @OutSystems/technical-knowledge-group

Text improvements.
  src/ref/lang/auto/Class.Human Activity.begin.md
Owners: @OutSystems/technical-knowledge-group

Extra note regarding icons inside folders
  src/deliver-mobile/customize-mobile-app/modify-the-app-icon.md
Owners: @rmlos

Update apply-content-security-policy.md
  src/managing-the-applications-lifecycle/secure-the-applications/apply-content-security-policy.md
Owners: @claudiacarpinteiro

Update apply-content-security-policy.md
  src/managing-the-applications-lifecycle/secure-the-applications/apply-content-security-policy.md
Owners: @claudiacarpinteiro

Explain current language scope/duration
  src/develop/ui/multilingual/intro.md
Owners: @rmlos

Improved images. (TK-3044)
  src/ref/lang/auto/images/process-human-activity-properties-ss.png
  src/ref/lang/auto/images/process-human-activity-taskbox.png
Owners: @OutSystems/technical-knowledge-group

Revert "Explain current language scope/duration"
  src/develop/ui/multilingual/intro.md
Owners: @rmlos

Revert "Explain current language scope/duration" (#184)
  src/develop/ui/multilingual/intro.md
Owners: @rmlos

Update the intro
  src/develop/ui/multilingual-tp/intro.md
Owners: @rmlos

deleted two older graphics
  src/extensibility-and-integration/rest/consume-rest-apis/images/ss-refresh-confirm-2a.png
  src/extensibility-and-integration/soap/consume/images/OLD-soap-refresh-menu.png
Owners: @OutSystems/technical-knowledge-group

peer review updates
  src/extensibility-and-integration/rest/consume-rest-apis/refresh-rest-service.md
Owners: @OutSystems/technical-knowledge-group

Updated tooltips. (TK-3044)
  src/ref/lang/auto/Class.Human Activity.md
  src/ref/lang/auto/Class.Process.md
Owners: @OutSystems/technical-knowledge-group

AppShield: remove a known issue (#219)
  src/deliver-mobile/app-shield/intro.md
Owners: @rmlos

Added link to a generic topic in Mobile Plugins
  src/deliver-mobile/app-shield/intro.md
Owners: @rmlos

Update intro.md
  src/deliver-mobile/app-shield/intro.md
Owners: @rmlos

Clarified type of mobile app apps
  src/extensibility-and-integration/mobile-plugins/intro.md
  src/extensibility-and-integration/mobile-plugins/ssl-pinning/intro.md
Owners: @rmlos

Add "no specified type" (related to "anyType")
  src/extensibility-and-integration/soap/consume/unsupported-use-cases.md
Owners: @OutSystems/technical-knowledge-group

Added checktoc to config.sample
  config.sample.yml
Owners: @OutSystems/technical-knowledge-group

Updated images
  src/getting-started/images/Create-first-WebApp-Task-tab-del-ss.png
  src/getting-started/images/new-app-properties.png
  src/getting-started/images/reactive-new-app-data-imported.png
  src/getting-started/images/reactive-new-app-entity-in-form.png
  src/getting-started/images/reactive-new-app-form-created.png
  src/getting-started/images/reactive-new-app-import-excel.png
  src/getting-started/images/reactive-new-app-link-to-new-window.png
  src/getting-started/images/reactive-new-app-redirect-to-task.png
  src/getting-started/images/reactive-new-app-screen-template-selection.png
  src/getting-started/images/reactive-new-app-table.png
  src/getting-started/images/reactive-new-app-window.png
  src/getting-started/images/reactive-new-module.png
Owners: @OutSystems/technical-knowledge-group

Removed EAP file.
  src/setup/eap-flexible-upgrades_BK.md
Owners: @OutSystems/technical-knowledge-group

Revert renaming.
  src/setup/eap-flexible-upgrades.md
Owners: @OutSystems/technical-knowledge-group

Tech preview: SEO in Reactive Web Apps
  src/develop/seo/images/page-redirects-properties-ss.png
  src/develop/seo/images/redirects-sc.png
  src/develop/seo/images/site-rules-sc.png
  src/develop/seo/intro.md
  src/develop/seo/troubleshooting.md
  toc.yml
Owners: @OutSystems/technical-knowledge-group

.github/CODEOWNERS:

# default code owner
*   @OutSystems/technical-knowledge-group

/src/managing-the-applications-lifecycle/              @claudiacarpinteiro

/src/deliver-mobile/   @rmlos

/src/extensibility-and-integration/artificial-intelligence/   @rmlos
/src/extensibility-and-integration/mobile-plugins/            @rmlos

/src/develop/ui/   @rmlos
