Repository OutSystems/docs-product, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OutSystems/technical-knowledge-group, @claudiacarpinteiro, @rmlos

Renamed images according to convention.
  src/managing-the-applications-lifecycle/deploy-applications/deployment-plans.md
  src/managing-the-applications-lifecycle/deploy-applications/images/deployment-plans-list-lt.png
  src/managing-the-applications-lifecycle/deploy-applications/images/deployment-plans-option-lt.png
  src/managing-the-applications-lifecycle/deploy-applications/images/deployment-plans-reuse-popup-lt.png
Owners: @claudiacarpinteiro

Updated screenshots witl the new page filter. Some tweaks in the text.
  src/managing-the-applications-lifecycle/deploy-applications/deployment-plans.md
  src/managing-the-applications-lifecycle/deploy-applications/images/deployment-plans-list-lt.png
  src/managing-the-applications-lifecycle/deploy-applications/images/deployment-plans-option-lt.png
  src/managing-the-applications-lifecycle/deploy-applications/images/deployment-plans-retry-lt.png
  src/managing-the-applications-lifecycle/deploy-applications/images/deployment-plans-reuse-lt.png
  src/managing-the-applications-lifecycle/deploy-applications/images/deployment-plans-reuse-popup-lt.png
Owners: @claudiacarpinteiro

Copyediting
  src/develop/ui/multilingual-tp/intro.md
  src/develop/ui/multilingual-tp/translate-your-app.md
  src/develop/ui/multilingual-tp/translation-editor.md
  src/develop/ui/multilingual-tp/translation-management.md
  src/develop/ui/multilingual-tp/troubleshooting-known-issues.md
Owners: @rmlos

Update process.md
  src/develop/processes/process.md
Owners: @OutSystems/technical-knowledge-group

Added video links
  src/extensibility-and-integration/rest/consume-rest-apis/consume-a-rest-api.md
Owners: @OutSystems/technical-knowledge-group

added new article
  src/ref/ss-command/images/ss-command_1.png
  src/ref/ss-command/images/ss-command_2.png
  src/ref/ss-command/ss-command-line.md
  toc.yml
Owners: @OutSystems/technical-knowledge-group

Added MS SharePoint Online integration.
  src/extensibility-and-integration/integration-builder/connectors/integration-ms-sharepoint.md
  src/extensibility-and-integration/integration-builder/images/choose-provider-ib.png
  src/extensibility-and-integration/integration-builder/intro.md
  src/extensibility-and-integration/integration-builder/structure.md
  toc.yml
Owners: @OutSystems/technical-knowledge-group

Fixed issue with TOC.
  toc.yml
Owners: @OutSystems/technical-knowledge-group

Change Widget name from "Content" to "Text"
  src/develop/ui/reuse/block-create-reuse.md
Owners: @rmlos

Fixing issue with TOC.
  toc.yml
Owners: @OutSystems/technical-knowledge-group

[ML Builder] Updated the release notes for April 8, 2021
  src/extensibility-and-integration/artificial-intelligence/ml-builder/release-notes.md
Owners: @rmlos

Internal communication clarification
  src/managing-the-applications-lifecycle/deploy-applications/zones/reference.md
Owners: @claudiacarpinteiro

Update of Multilingual
  src/develop/ui/multilingual-tp/intro.md
Owners: @rmlos

Fixed a div tag
  src/develop/ui/multilingual-tp/intro.md
Owners: @rmlos

Update of the property name
  src/extensibility-and-integration/artificial-intelligence/ml-builder/images/server-action-model-ss.png
  src/extensibility-and-integration/artificial-intelligence/ml-builder/implement-model.md
Owners: @rmlos

Improved multiple AppShield topics
  src/deliver-mobile/app-shield/intro.md
Owners: @rmlos

changes to user management intro to include definitions
  src/develop/security/end-user-manage/intro.md
Owners: @OutSystems/technical-knowledge-group

The Camera Plugin document
  src/extensibility-and-integration/mobile-plugins/camera/images/camera-flow-choose-from-gallery.png
  src/extensibility-and-integration/mobile-plugins/camera/images/camera-flow-take-picture-ss.png
  src/extensibility-and-integration/mobile-plugins/camera/images/camera-handling-errors.png
  src/extensibility-and-integration/mobile-plugins/camera/images/camera-sample-app.png
  src/extensibility-and-integration/mobile-plugins/camera/images/camera-ui-setup-ss.png
  src/extensibility-and-integration/mobile-plugins/camera/intro.md
  toc.yml
Owners: @rmlos, @OutSystems/technical-knowledge-group

Added link to Delete Rules
  src/develop/data/modeling/relationship/relationship-one-to-many.md
Owners: @OutSystems/technical-knowledge-group

Firebase Plugins
  src/extensibility-and-integration/mobile-plugins/firebase/images/firebase-resource-properties-multiple-ss.png
  src/extensibility-and-integration/mobile-plugins/firebase/images/firebase-resource-properties-single-ss.png
  src/extensibility-and-integration/mobile-plugins/firebase/images/plugin-logic-tab-ss.png
  src/extensibility-and-integration/mobile-plugins/firebase/images/resources-folder-ss.png
  src/extensibility-and-integration/mobile-plugins/firebase/images/zipped-configs.png
  src/extensibility-and-integration/mobile-plugins/firebase/intro.md
  toc.yml
Owners: @rmlos, @OutSystems/technical-knowledge-group

Links, fixes
  src/extensibility-and-integration/mobile-plugins/firebase/intro.md
Owners: @rmlos

Updated TOC for mobile and reactive patterns
  src/develop/ui/patterns/mobile/adaptive/intro.md
  src/develop/ui/patterns/mobile/content/intro.md
  src/develop/ui/patterns/mobile/interaction/intro.md
  src/develop/ui/patterns/mobile/navigation/intro.md
  src/develop/ui/patterns/mobile/numbers/intro.md
  src/develop/ui/patterns/mobile/utilities/intro.md
  toc.yml
Owners: @rmlos, @OutSystems/technical-knowledge-group

Fixed chapter name
  src/develop/ui/patterns/mobile/utilities/intro.md
Owners: @rmlos

Deleted out of date and incomplete bulleted list
  src/develop/ui/patterns/mobile/intro.md
Owners: @rmlos

Added info statement
  src/ref/data/database/how-data-model-changes-are-handled.md
Owners: @OutSystems/technical-knowledge-group

Updated Old Producer error message.
  src/ref/errors-and-warnings/errors/old-producer-error.md
Owners: @OutSystems/technical-knowledge-group

Sample edit
  src/getting-started/intro.md
Owners: @OutSystems/technical-knowledge-group

Fixed minor typos
  src/extensibility-and-integration/mobile-plugins/firebase/intro.md
Owners: @rmlos

Feature edit data.
  src/develop/data/edit/errors-troubleshoot.md
  src/develop/data/edit/how-edit-data.md
  src/develop/data/edit/intro.md
  toc.yml
Owners: @OutSystems/technical-knowledge-group

DB parameters update
  src/setup/system-requirements.md
Owners: @OutSystems/technical-knowledge-group

test PR
  src/contributing/images/How-to-bootstrap-numeric-data-from-Excel-with-blank-cells_0.png
Owners: @OutSystems/technical-knowledge-group

Revert "test PR"
  src/contributing/images/How-to-bootstrap-numeric-data-from-Excel-with-blank-cells_0.png
Owners: @OutSystems/technical-knowledge-group

New Inline SVG pattern
  src/develop/ui/patterns/mobile/utilities/images/inlinesvg-1-ss.png
  src/develop/ui/patterns/mobile/utilities/images/inlinesvg-2-ss.png
  src/develop/ui/patterns/mobile/utilities/images/inlinesvg-3-ss.png
  src/develop/ui/patterns/mobile/utilities/images/inlinesvg-4-ss.png
  src/develop/ui/patterns/mobile/utilities/inlinesvg.md
  toc.yml
Owners: @rmlos, @OutSystems/technical-knowledge-group

Added new Rating pattern
  src/develop/ui/patterns/mobile/numbers/images/rating-1-ss.png
  src/develop/ui/patterns/mobile/numbers/images/rating-2-ss.png
  src/develop/ui/patterns/mobile/numbers/images/rating-3-ss.png
  src/develop/ui/patterns/mobile/numbers/images/rating-4-ss.png
  src/develop/ui/patterns/mobile/numbers/images/rating-5-ss.png
  src/develop/ui/patterns/mobile/numbers/rating.md
  toc.yml
Owners: @rmlos, @OutSystems/technical-knowledge-group

Added line about support for Client Actions, per KQ feedback.
  src/develop/reuse-and-refactor/encapsulate-logic.md
Owners: @OutSystems/technical-knowledge-group

Updated screenshots for Rating and Inline SVG patterns
  src/develop/ui/patterns/mobile/numbers/images/rating-3-ss.png
  src/develop/ui/patterns/mobile/numbers/images/rating-5-ss.png
  src/develop/ui/patterns/mobile/numbers/rating.md
  src/develop/ui/patterns/mobile/utilities/images/inlinesvg-4-ss.png
  src/develop/ui/patterns/mobile/utilities/inlinesvg.md
Owners: @rmlos

Updated Rating example
  src/develop/ui/patterns/mobile/numbers/rating.md
Owners: @rmlos

Accordion clarification
  src/develop/ui/patterns/web/content/accordion/accordion.md
Owners: @rmlos

Added clarification from the IPA size
  src/deliver-mobile/generate-distribute-mobile-app/publish-apple-app-store.md
Owners: @rmlos

Restoring config.sample
  config.sample.yml
Owners: @OutSystems/technical-knowledge-group

.github/CODEOWNERS:

# default code owner
*   @OutSystems/technical-knowledge-group

/src/managing-the-applications-lifecycle/              @claudiacarpinteiro

/src/deliver-mobile/   @rmlos

/src/extensibility-and-integration/artificial-intelligence/   @rmlos
/src/extensibility-and-integration/mobile-plugins/            @rmlos

/src/develop/ui/   @rmlos
