Repository OutSystems/docs-product, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OutSystems/technical-knowledge-group, @claudiacarpinteiro, @rmlos

.github/CODEOWNERS:

# default code owner
*   @OutSystems/technical-knowledge-group

/src/managing-the-applications-lifecycle/              @claudiacarpinteiro

/src/deliver-mobile/   @rmlos

/src/extensibility-and-integration/artificial-intelligence/   @rmlos
/src/extensibility-and-integration/mobile-plugins/            @rmlos

/src/develop/ui/   @rmlos

Update override-extensibility-configurations.md
  src/managing-the-applications-lifecycle/deploy-applications/override-extensibility-configurations.md
Owners: @claudiacarpinteiro

Explain current language scope/duration
  src/develop/ui/multilingual/intro.md
Owners: @rmlos

Improvements per peer review.
  src/managing-the-applications-lifecycle/maintenance-mode.md
Owners: @claudiacarpinteiro

Added more screenshots.
  src/develop/data/edit/how-edit-data.md
  src/develop/data/edit/images/delete-row-ss.png
  src/develop/data/edit/images/mandatory-fields-ss.png
  src/develop/data/edit/images/pending-delete-row-ss.png
Owners: @OutSystems/technical-knowledge-group

Update known issue + change in ext. configurations for PS 11.11.0
  src/deliver-mobile/distribute-pwa/advanced.md
  src/deliver-mobile/distribute-pwa/troubleshooting-know-issues.md
Owners: @rmlos

Removing SAP
  src/extensibility-and-integration/sap/configure-a-sap-connection-at-runtime.md
  src/extensibility-and-integration/sap/execute-sap-stateful-calls.md
  src/extensibility-and-integration/sap/execute-sap-stateless-calls.md
  src/extensibility-and-integration/sap/images/SAP_Remote_Function_Flow.png
  src/extensibility-and-integration/sap/images/sap-stateless-01.png
  src/extensibility-and-integration/sap/integrate-with-a-sap-system.md
  src/extensibility-and-integration/sap/intro.md
  src/extensibility-and-integration/sap/troubleshoot-sap-remote-functions.md
  toc.yml
Owners: @OutSystems/technical-knowledge-group

Updatted steps for enabling IdP for reactive apps
  src/develop/security/end-user-manage/end-user-authentication/configure-azuread.md
  src/develop/security/end-user-manage/end-user-authentication/images/azuread-sso.png
  src/develop/security/end-user-manage/end-user-authentication/images/azuread-warning.png
Owners: @OutSystems/technical-knowledge-group

Update use-external-lib.md
  src/extensibility-and-integration/javascript/mobile/use-external-lib.md
Owners: @OutSystems/technical-knowledge-group

Fixed formatting issue
  src/develop/security/end-user-manage/end-user-authentication/configure-azuread.md
Owners: @OutSystems/technical-knowledge-group

Fixed formatiing issues
  src/develop/security/end-user-manage/end-user-authentication/configure-azuread.md
Owners: @OutSystems/technical-knowledge-group

Removing traditional web features.
  src/develop/data/session.md
  toc.yml
Owners: @OutSystems/technical-knowledge-group

Updating image
  src/develop/troubleshoot/debug/images/debugger-intro-ss.png
Owners: @OutSystems/technical-knowledge-group

Update debug-producer-modules.md
  src/develop/troubleshoot/debug/debug-producer-modules.md
Owners: @OutSystems/technical-knowledge-group

update on new users count mechanism from 11.11.3 onwards.
  src/develop/security/end-user-manage/classify-internal-users.md
  src/develop/security/end-user-manage/images/multiple-accounts-the-same-user.png
Owners: @OutSystems/technical-knowledge-group

Removing deprecated features
  src/ref/apis/auto/epa-taskbox-api.begin.md
  src/ref/apis/auto/epa-taskbox-api.md
  src/ref/apis/auto/includejavascript-api.begin.md
  src/ref/apis/auto/includejavascript-api.md
  src/ref/apis/auto/lifetime-deployment-api-v1.begin.md
  src/ref/apis/auto/lifetime-deployment-api-v1.md
  src/ref/apis/outsystems-api-preloader-api.md
  src/ref/apis/outsystems-api-requestinfo-api.md
  src/ref/apis/sap-extensibility-api.md
  src/ref/apis/soap-extensibility-api.md
  toc.yml
Owners: @OutSystems/technical-knowledge-group

Fixed tag.
  src/managing-the-applications-lifecycle/initial-setup-of-an-infrastructure.md
Owners: @claudiacarpinteiro

Fixed minor typos
  src/extensibility-and-integration/mobile-plugins/firebase/intro.md
Owners: @rmlos

no message
  toc.yml
Owners: @OutSystems/technical-knowledge-group

Removed ref to databases in time zone
  src/setup/intro.md
Owners: @OutSystems/technical-knowledge-group

Removed deprecated steps.
  src/setup/unattended-install/intro.md
Owners: @OutSystems/technical-knowledge-group

Expanded explanation of refresh behavior; editorial and screen updates
  src/extensibility-and-integration/soap/consume/refresh-web-service.md
Owners: @OutSystems/technical-knowledge-group

Add Log Message 2000 chars limit
  src/ref/apis/auto/system-actions.md
Owners: @OutSystems/technical-knowledge-group

Updated video.
  src/develop/data/excel-bootstrap.md
Owners: @OutSystems/technical-knowledge-group

Updated bootstrap article's sample binaries.
  src/develop/data/resources/BootstrapFromExcel.oml
  src/develop/data/resources/Products.oap
  src/develop/data/resources/Products.xls
  src/develop/data/resources/SampleData.xls
Owners: @OutSystems/technical-knowledge-group

Updated links to binaries.
  src/develop/data/excel-bootstrap.md
Owners: @OutSystems/technical-knowledge-group

Replaced espace with Module
  src/setup/environment-config.md
Owners: @OutSystems/technical-knowledge-group

Update deploy-an-application.md
  src/managing-the-applications-lifecycle/deploy-applications/deploy-an-application.md
Owners: @claudiacarpinteiro

Update deploy-an-application.md
  src/managing-the-applications-lifecycle/deploy-applications/deploy-an-application.md
Owners: @claudiacarpinteiro

initial commit
  src/extensibility-and-integration/rest/consume-rest-apis/images/ss-refresh-confirm-2a.png
  src/extensibility-and-integration/rest/consume-rest-apis/images/ss-rest-refresh-1.png
  src/extensibility-and-integration/rest/consume-rest-apis/images/ss-rest-refresh-URL-3.png
  src/extensibility-and-integration/rest/consume-rest-apis/images/ss-rest-refresh-confirm-2.png
  src/extensibility-and-integration/rest/consume-rest-apis/images/ss-rest-refresh-methods-4.png
  src/extensibility-and-integration/rest/consume-rest-apis/refresh-rest-service.md
  src/extensibility-and-integration/soap/consume/images/OLD-soap-refresh-menu.png
  src/extensibility-and-integration/soap/consume/images/soap-refresh-WSDL.png
  src/extensibility-and-integration/soap/consume/images/soap-refresh-confirm.png
  src/extensibility-and-integration/soap/consume/images/soap-refresh-menu.png
  src/extensibility-and-integration/soap/consume/images/soap-refresh-methods.png
  src/extensibility-and-integration/soap/consume/refresh-web-service.md
  src/extensibility-and-integration/soap/consume/refresh-web-service.pdf
Owners: @OutSystems/technical-knowledge-group

Updated SOAP topic
  src/extensibility-and-integration/soap/consume/images/soap-refresh-WSDL.png
  src/extensibility-and-integration/soap/consume/images/soap-refresh-confirm.png
  src/extensibility-and-integration/soap/consume/images/soap-refresh-menu.png
  src/extensibility-and-integration/soap/consume/images/soap-refresh-methods.png
  src/extensibility-and-integration/soap/consume/refresh-web-service.md
Owners: @OutSystems/technical-knowledge-group

Added Azure SQL database is not supported
  src/setup/default-configurations.md
Owners: @OutSystems/technical-knowledge-group

Minor adjustment for clarity
  src/deliver-mobile/app-shield/intro.md
Owners: @rmlos

Update intro.md
  src/deliver-mobile/app-shield/intro.md
Owners: @rmlos

Minor adjustment for clarity (#182)
  src/deliver-mobile/app-shield/intro.md
Owners: @rmlos

Reverted the changes
  src/extensibility-and-integration/soap/consume/refresh-web-service.md
Owners: @OutSystems/technical-knowledge-group

deleted PDF
  src/extensibility-and-integration/soap/consume/refresh-web-service.pdf
Owners: @OutSystems/technical-knowledge-group

Minor editorial changes
  src/extensibility-and-integration/rest/consume-rest-apis/refresh-rest-service.md
Owners: @OutSystems/technical-knowledge-group

minor edit
  src/extensibility-and-integration/rest/consume-rest-apis/refresh-rest-service.md
Owners: @OutSystems/technical-knowledge-group

Minor changes
  src/extensibility-and-integration/rest/consume-rest-apis/refresh-rest-service.md
Owners: @OutSystems/technical-knowledge-group

minor changes
  src/extensibility-and-integration/rest/consume-rest-apis/refresh-rest-service.md
Owners: @OutSystems/technical-knowledge-group
