Repository OutSystems/docs-product, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OutSystems/technical-knowledge-group, @claudiacarpinteiro, @rmlos

Added a draft of an infobox
  src/ref/lang/auto/Class.Session Variable.begin.md
Owners: @OutSystems/technical-knowledge-group

Minor update
  src/ref/lang/auto/Class.Session Variable.begin.md
Owners: @OutSystems/technical-knowledge-group

New Scrollable Area pattern. Updated TOC
  src/develop/ui/patterns/mobile/interaction/images/scrolldrag-ss.png
  src/develop/ui/patterns/mobile/interaction/images/scrollexample.png
  src/develop/ui/patterns/mobile/interaction/images/scrollimage-ss.png
  src/develop/ui/patterns/mobile/interaction/images/scrollprop-ss.png
  src/develop/ui/patterns/mobile/interaction/images/scrollwidget-ss.png
  src/develop/ui/patterns/mobile/interaction/scrollablearea.md
  toc.yml
Owners: @rmlos, @OutSystems/technical-knowledge-group

Update buttonloading.md
  src/develop/ui/patterns/mobile/utilities/buttonloading.md
Owners: @rmlos

Revert "Update session variable" (#205)
  src/ref/lang/auto/Class.Session Variable.begin.md
Owners: @OutSystems/technical-knowledge-group

Small fix.
  src/develop/data/edit/how-edit-data.md
Owners: @OutSystems/technical-knowledge-group

Adding use cases
  src/develop/security/user-roles/images/valdiate-screen-ss.png
  src/develop/security/user-roles/images/validate-role-ss.png
  src/develop/security/user-roles/images/validate-user-ss.png
  src/develop/security/user-roles/validate-permissions.md
Owners: @OutSystems/technical-knowledge-group

fixing image
  src/develop/security/user-roles/images/validate-user-ss.png
Owners: @OutSystems/technical-knowledge-group

no message
  src/develop/security/user-roles/validate-permissions.md
Owners: @OutSystems/technical-knowledge-group

no message
  src/develop/security/user-roles/validate-permissions.md
Owners: @OutSystems/technical-knowledge-group

Warning for on-premises
  src/managing-the-applications-lifecycle/secure-the-applications/apply-content-security-policy.md
Owners: @claudiacarpinteiro

Content for new maintenance mode feature.
  src/managing-the-applications-lifecycle/images/infrastructure-disable-maint-mode-lt.png
  src/managing-the-applications-lifecycle/images/infrastructure-edit-env-lt.png
  src/managing-the-applications-lifecycle/images/infrastructure-enable-maint-mode-lt.png
  src/managing-the-applications-lifecycle/images/infrastructure-maint-mode-lt.png
  src/managing-the-applications-lifecycle/initial-setup-of-an-infrastructure.md
  src/managing-the-applications-lifecycle/maintenance-mode.md
  toc.yml
Owners: @claudiacarpinteiro, @OutSystems/technical-knowledge-group

Update map.md
  src/develop/ui/patterns/mobile/interaction/map.md
Owners: @rmlos

Adding screenshots.
  src/develop/data/edit/images/edit-data-ss.png
  src/develop/data/edit/images/open-edit-data-ss.png
  src/develop/data/edit/images/pedning-changes-validation-ss.png
  src/develop/data/edit/images/pending-changes-ss.png
  src/develop/data/edit/intro.md
Owners: @OutSystems/technical-knowledge-group

Added missing verb.
  src/extensibility-and-integration/integration-builder/intro.md
Owners: @OutSystems/technical-knowledge-group

Added initial step to enable and disable procedures. Blurred sensitive information in images.
  src/managing-the-applications-lifecycle/images/infrastructure-disable-maint-mode-lt.png
  src/managing-the-applications-lifecycle/images/infrastructure-edit-env-lt.png
  src/managing-the-applications-lifecycle/images/infrastructure-enable-maint-mode-lt.png
  src/managing-the-applications-lifecycle/images/infrastructure-maint-mode-lt.png
  src/managing-the-applications-lifecycle/maintenance-mode.md
Owners: @claudiacarpinteiro

Clarified that one of the network requirements for WB is optional.
  src/setup/network-requirements.md
Owners: @OutSystems/technical-knowledge-group

Small fix.
  src/setup/network-requirements.md
Owners: @OutSystems/technical-knowledge-group

Added more screenshots.
  src/develop/data/edit/images/apply-changes-ss.png
  src/develop/data/edit/images/changes-failed-ss.png
  src/develop/data/edit/images/changes-successfully-ss.png
  src/develop/data/edit/images/confirm-discard-changes-ss.png
  src/develop/data/edit/intro.md
Owners: @OutSystems/technical-knowledge-group

Removed uneeded MT snippet.
  src/develop/data/edit/intro.md
Owners: @OutSystems/technical-knowledge-group

Added end of file break.
  src/develop/data/edit/intro.md
Owners: @OutSystems/technical-knowledge-group

Added related link to Bootstrap an Entity Using an Excel File
  src/develop/ui/screen-templates-use/replace-data.md
Owners: @rmlos

Made Session Variable information more prominent
  src/ref/lang/auto/Class.Session Variable.begin.md
Owners: @OutSystems/technical-knowledge-group

Re-arrenged information in topics and added a screenshot.
  src/develop/data/edit/how-edit-data.md
  src/develop/data/edit/images/discard-row-changes-ss.png
  src/develop/data/edit/intro.md
Owners: @OutSystems/technical-knowledge-group

Update default-values-on-database.md
  src/ref/data/database/default-values-on-database.md
Owners: @OutSystems/technical-knowledge-group

Fixed html tag.
  src/develop/data/edit/how-edit-data.md
Owners: @OutSystems/technical-knowledge-group

Update default-values-on-database.md
  src/ref/data/database/default-values-on-database.md
Owners: @OutSystems/technical-knowledge-group

Update default-values-on-database.md
  src/ref/data/database/default-values-on-database.md
Owners: @OutSystems/technical-knowledge-group

Update default-values-on-database.md
  src/ref/data/database/default-values-on-database.md
Owners: @OutSystems/technical-knowledge-group

Update default-values-on-database.md
  src/ref/data/database/default-values-on-database.md
Owners: @OutSystems/technical-knowledge-group

Update default-values-on-database.md (#177)
  src/ref/data/database/default-values-on-database.md
Owners: @OutSystems/technical-knowledge-group

Update default-values-on-database.md
  src/ref/data/database/default-values-on-database.md
Owners: @OutSystems/technical-knowledge-group

Update intro.md
  src/extensibility-and-integration/mobile-plugins/firebase/intro.md
Owners: @rmlos

Added instructions for hybrid infrastructures.
  src/managing-the-applications-lifecycle/maintenance-mode.md
Owners: @claudiacarpinteiro

Content edit
  src/deliver-mobile/mobile-app-update-scenarios.md
Owners: @rmlos

Tag fix
  src/deliver-mobile/mobile-app-update-scenarios.md
Owners: @rmlos

Updated outdated screenshots
  src/develop/security/end-user-manage/end-user-authentication/images/azuread-add-application.png
  src/develop/security/end-user-manage/end-user-authentication/images/azuread-search-application.png
Owners: @OutSystems/technical-knowledge-group

Updated out of date step
  src/develop/security/end-user-manage/end-user-authentication/configure-azuread.md
Owners: @OutSystems/technical-knowledge-group

Added info related to external configuration
  src/deliver-mobile/mobile-app-update-scenarios.md
  src/extensibility-and-integration/mobile-plugins/ssl-pinning/intro.md
Owners: @rmlos

Update Mobile App Update Scenarios and SSL Pinning
  src/deliver-mobile/mobile-app-update-scenarios.md
  src/extensibility-and-integration/mobile-plugins/ssl-pinning/intro.md
Owners: @rmlos

.github/CODEOWNERS:

# default code owner
*   @OutSystems/technical-knowledge-group

/src/managing-the-applications-lifecycle/              @claudiacarpinteiro

/src/deliver-mobile/   @rmlos

/src/extensibility-and-integration/artificial-intelligence/   @rmlos
/src/extensibility-and-integration/mobile-plugins/            @rmlos

/src/develop/ui/   @rmlos
