Repository OutSystems/docs-product, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OutSystems/technical-knowledge-group, @claudiacarpinteiro, @rmlos

.github/CODEOWNERS:

# default code owner
*   @OutSystems/technical-knowledge-group

/src/managing-the-applications-lifecycle/              @claudiacarpinteiro

/src/deliver-mobile/   @rmlos

/src/extensibility-and-integration/artificial-intelligence/   @rmlos
/src/extensibility-and-integration/mobile-plugins/            @rmlos

/src/develop/ui/   @rmlos

Updated a known issue info
  src/deliver-mobile/distribute-pwa/troubleshooting-know-issues.md
Owners: @rmlos

Updated notes about manifest
  src/deliver-mobile/distribute-pwa/advanced.md
Owners: @rmlos

added note on windows authentication for shared workstations
  src/develop/security/end-user-manage/end-user-authentication/configure-active-directory.md
Owners: @OutSystems/technical-knowledge-group

Edited to remove repetition
  src/ref/errors-and-warnings/warnings/performance-suggestion-warning.md
Owners: @OutSystems/technical-knowledge-group

RTAF-3972: Removing performance warning for OnReady (#148)
  src/develop/logic/screen-block-lifecycle-events.md
  src/ref/errors-and-warnings/warnings/performance-suggestion-warning.md
Owners: @OutSystems/technical-knowledge-group

Replaced the reference to outsystems tab
  src/develop/ui/screen-templates-create/intro.md
Owners: @rmlos

Updated instructions to the reference the Forge tab (#150)
  src/develop/ui/screen-templates-create/intro.md
Owners: @rmlos

Minor image improvements
  src/develop/ui/multilingual-tp/images/ts-rtl-fix-details-ss.png
  src/develop/ui/multilingual-tp/images/ts-rtl-fix-details-ss.png.png
  src/develop/ui/multilingual-tp/images/ts-rtl-fix-ss.png
  src/develop/ui/multilingual-tp/troubleshooting-known-issues.md
Owners: @rmlos

Removed Upper Case
  src/getting-started/tips-tricks/tips-tricks.md
Owners: @OutSystems/technical-knowledge-group

Added note at end of first section and added cloud option
  src/managing-the-applications-lifecycle/monitor-and-troubleshoot/monitor-usage-with-audit-logs.md
Owners: @claudiacarpinteiro

Update to username explanation
  src/managing-the-applications-lifecycle/manage-it-teams/create-an-it-user.md
Owners: @claudiacarpinteiro

Formatting
  src/ref/errors-and-warnings/errors/database-upgrade-error.md
Owners: @OutSystems/technical-knowledge-group

Changes in the article to reflect the new way of configuring external users
  src/develop/security/end-user-manage/classify-internal-users.md
  src/develop/security/end-user-manage/images/classify_internal_users.png
  src/develop/security/end-user-manage/images/sc-user-classification-rules.png
Owners: @OutSystems/technical-knowledge-group

Minor update
  src/managing-the-applications-lifecycle/deploy-applications/apply-a-hotfix.md
Owners: @claudiacarpinteiro

Added links to SQL tranining materials
  src/ref/errors-and-warnings/errors/invalid-sql-error.md
  src/ref/errors-and-warnings/warnings/sql-injection-warning.md
  src/ref/errors-and-warnings/warnings/unexpected-sql-warning.md
Owners: @OutSystems/technical-knowledge-group

#RSUPT-631 - add new flags to Conf. Tool cmd line
  src/setup/unattended-install/config-tool-ref.md
Owners: @OutSystems/technical-knowledge-group

ML Builder docs update
  src/extensibility-and-integration/artificial-intelligence/ml-builder/creating-model.md
  src/extensibility-and-integration/artificial-intelligence/ml-builder/data-considerations.md
  src/extensibility-and-integration/artificial-intelligence/ml-builder/getting-started.md
  src/extensibility-and-integration/artificial-intelligence/ml-builder/images/azure-diag.png
  src/extensibility-and-integration/artificial-intelligence/ml-builder/images/condition-success-ss.png
  src/extensibility-and-integration/artificial-intelligence/ml-builder/images/integration-overview-diag.png
  src/extensibility-and-integration/artificial-intelligence/ml-builder/images/json-serialize-record-ss.png
  src/extensibility-and-integration/artificial-intelligence/ml-builder/images/ml-actions-ss.png
  src/extensibility-and-integration/artificial-intelligence/ml-builder/images/overview-diag.png
  src/extensibility-and-integration/artificial-intelligence/ml-builder/images/prediction-confidence-ss.png
  src/extensibility-and-integration/artificial-intelligence/ml-builder/images/reference-plugin-ss.png
  src/extensibility-and-integration/artificial-intelligence/ml-builder/images/sample-logic-prediction-ss.png
  src/extensibility-and-integration/artificial-intelligence/ml-builder/images/sample-model-name.png
  src/extensibility-and-integration/artificial-intelligence/ml-builder/images/server-action-model-ss.png
  src/extensibility-and-integration/artificial-intelligence/ml-builder/images/top-prediction-ss.png
  src/extensibility-and-integration/artificial-intelligence/ml-builder/implement-model.md
  src/extensibility-and-integration/artificial-intelligence/ml-builder/intro.md
  src/extensibility-and-integration/artificial-intelligence/ml-builder/release-notes.md
  toc.yml
Owners: @rmlos, @OutSystems/technical-knowledge-group

Minor fixes for better rendering
  src/extensibility-and-integration/artificial-intelligence/ml-builder/implement-model.md
  src/extensibility-and-integration/artificial-intelligence/ml-builder/release-notes.md
  toc.yml
Owners: @rmlos, @OutSystems/technical-knowledge-group

Edits to "Allow completing tasks" section
  src/getting-started/create-reactive-web.md
  src/getting-started/images/Create-first-WebApp-Task-tab-del-ss.png
Owners: @OutSystems/technical-knowledge-group

Minor update of the SSL Pinning doc
  src/extensibility-and-integration/mobile-plugins/ssl-pinning/intro.md
Owners: @rmlos

FIxed images and typos
  src/managing-the-applications-lifecycle/monitor-and-troubleshoot/images/customer-mon-outsys-cloud-sc-It.png
  src/managing-the-applications-lifecycle/monitor-and-troubleshoot/images/customer-mon-outsys-on-prem-sc-It.png
  src/managing-the-applications-lifecycle/monitor-and-troubleshoot/images/intro-tools-EnviroHealth-sc-lt.png
  src/managing-the-applications-lifecycle/monitor-and-troubleshoot/images/intro-tools-dashboard-sc-lt.png
  src/managing-the-applications-lifecycle/monitor-and-troubleshoot/intro.md
Owners: @claudiacarpinteiro

updating an image file
  src/extensibility-and-integration/sap/images/SAP_Remote_Function_Flow.png
Owners: @OutSystems/technical-knowledge-group

updating images
  src/develop/security/end-user-manage/images/sc-end-users-configuration.png
  src/develop/security/end-user-manage/images/sc-user-classification-rules.png
Owners: @OutSystems/technical-knowledge-group

Added new prerequisite
  src/setup/azure/set-up-platform.md
Owners: @OutSystems/technical-knowledge-group

AppShield and Google Play App Signing
  src/deliver-mobile/app-shield/intro.md
Owners: @rmlos

Edited some of the extra headings
  src/deliver-mobile/app-shield/intro.md
Owners: @rmlos

Log Message - Message input limited to 2000 chars
  src/ref/apis/auto/system-actions.md
Owners: @OutSystems/technical-knowledge-group

Added links to learning resources
  src/deliver-mobile/distribute-pwa/intro.md
Owners: @rmlos

Added the tag to show TOC in the intro
  src/deliver-mobile/distribute-pwa/intro.md
Owners: @rmlos

Added links to training; edited formatting, content
  src/develop/data/query/images/sql-in-flow-ss.png
  src/develop/data/query/sql.md
Owners: @OutSystems/technical-knowledge-group

Marked this API version as deprecated.
  src/ref/apis/auto/lifetime-deployment-api-v1.begin.md
Owners: @OutSystems/technical-knowledge-group

Image file name correction
  src/managing-the-applications-lifecycle/monitor-and-troubleshoot/images/app-feedback-af.png
  src/managing-the-applications-lifecycle/monitor-and-troubleshoot/images/customer-mon-outsys-cloud-sc-It.png
  src/managing-the-applications-lifecycle/monitor-and-troubleshoot/images/customer-mon-outsys-on-prem-sc-It.png
  src/managing-the-applications-lifecycle/monitor-and-troubleshoot/images/intro-cloud-scope-diag.png
  src/managing-the-applications-lifecycle/monitor-and-troubleshoot/images/intro-on-prem-scope-diag.png
  src/managing-the-applications-lifecycle/monitor-and-troubleshoot/images/intro-tools-lt.png
  src/managing-the-applications-lifecycle/monitor-and-troubleshoot/images/intro-tools-sc.png
  src/managing-the-applications-lifecycle/monitor-and-troubleshoot/intro.md
Owners: @claudiacarpinteiro

Removed "(" and ")" from the title
  src/deliver-mobile/distribute-pwa/intro.md
Owners: @rmlos

Added LifeTime limitation of being installed in farm configuration.
  src/setup/intro.md
Owners: @OutSystems/technical-knowledge-group

Release notes for ML Builder
  src/extensibility-and-integration/artificial-intelligence/ml-builder/release-notes.md
Owners: @rmlos

Fixed a typo
  src/extensibility-and-integration/artificial-intelligence/ml-builder/implement-model.md
Owners: @rmlos

Small change.
  src/extensibility-and-integration/artificial-intelligence/ml-builder/intro.md
Owners: @rmlos

A small edit
  src/extensibility-and-integration/artificial-intelligence/ml-builder/intro.md
Owners: @rmlos

Small change
  src/extensibility-and-integration/artificial-intelligence/ml-builder/intro.md
Owners: @rmlos

Reworking on the introl
  src/extensibility-and-integration/mobile-plugins/intro.md
Owners: @rmlos
