Repository OutSystems/docs-product, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OutSystems/technical-knowledge-group, @claudiacarpinteiro, @rmlos

.github/CODEOWNERS:

# default code owner
*   @OutSystems/technical-knowledge-group

/src/managing-the-applications-lifecycle/              @claudiacarpinteiro

/src/deliver-mobile/   @rmlos

/src/extensibility-and-integration/artificial-intelligence/   @rmlos
/src/extensibility-and-integration/mobile-plugins/            @rmlos

/src/develop/ui/   @rmlos

Update intro.md
  src/develop/ui/multilingual-tp/intro.md
Owners: @rmlos

Update reference.md
  src/managing-the-applications-lifecycle/monitor-and-troubleshoot/logging/reference.md
Owners: @claudiacarpinteiro

Update of the Multilingual docs
  src/develop/ui/multilingual-tp/images/opening-translation-editor-ss.png
  src/develop/ui/multilingual-tp/images/static-entity-refresh.png
  src/develop/ui/multilingual-tp/images/static-entity-translate-ss.png
  src/develop/ui/multilingual-tp/intro.md
  src/develop/ui/multilingual-tp/translate-your-app.md
  src/develop/ui/multilingual-tp/translation-editor.md
Owners: @rmlos

Additional changes requested by Vitor Oliveira
  src/extensibility-and-integration/mobile-plugins/intro.md
  src/extensibility-and-integration/mobile-plugins/intro.md.rej
Owners: @rmlos

Fixed a typo
  src/develop/ui/multilingual-tp/translation-editor.md
Owners: @rmlos

Added a known issue in LifeTime
  src/managing-the-applications-lifecycle/deploy-applications/override-extensibility-configurations.md
Owners: @claudiacarpinteiro

Deleted the backup file
  src/extensibility-and-integration/mobile-plugins/intro.md.rej
Owners: @rmlos

Reworking the intro on mobile plugins (#156)
  src/extensibility-and-integration/mobile-plugins/intro.md
Owners: @rmlos

Fixed a typo (#154)
  src/extensibility-and-integration/artificial-intelligence/ml-builder/implement-model.md
Owners: @rmlos

Add files via upload
  src/setup/How to Prevent Download.md
Owners: @OutSystems/technical-knowledge-group

Updated the links to Forge
  src/extensibility-and-integration/mobile-plugins/intro.md
Owners: @rmlos

Removed EAP page from the TOC.
  toc.yml
Owners: @OutSystems/technical-knowledge-group

Update system-requirements.md
  src/setup/system-requirements.md
Owners: @OutSystems/technical-knowledge-group

Release notes for ML Builder
  src/extensibility-and-integration/artificial-intelligence/ml-builder/release-notes.md
Owners: @rmlos

Added reference for the new errors that can occur in Service Studio.
  src/ref/errors-and-warnings/errors/locked-module-error.md
  src/ref/errors-and-warnings/errors/old-producer-error.md
  toc.yml
Owners: @OutSystems/technical-knowledge-group

Minor clarification edit
  src/extensibility-and-integration/artificial-intelligence/ml-builder/release-notes.md
Owners: @rmlos

Update locked-module-error.md
  src/ref/errors-and-warnings/errors/locked-module-error.md
Owners: @OutSystems/technical-knowledge-group

Update old-producer-error.md
  src/ref/errors-and-warnings/errors/old-producer-error.md
Owners: @OutSystems/technical-knowledge-group

Update old-producer-error.md
  src/ref/errors-and-warnings/errors/old-producer-error.md
Owners: @OutSystems/technical-knowledge-group

Fixed typos.
  src/ref/errors-and-warnings/errors/locked-module-error.md
  src/ref/errors-and-warnings/errors/old-producer-error.md
Owners: @OutSystems/technical-knowledge-group

Mnstshlylh play
  src/طور/واجهة المستخدم/أنماط/التليفون المحمول/التفاعل/متجرالتبيجاتمنستشليلة/mnstshlylh اللعب/شليلة 2/rangeslider.md
Owners: @OutSystems/technical-knowledge-group

Update mobile-app-update-scenarios.md
  src/deliver-mobile/mobile-app-update-scenarios.md
Owners: @rmlos

Added a note about the RTL support
  src/develop/ui/multilingual-tp/troubleshooting-known-issues.md
Owners: @rmlos

Added a note about the popup accessibility
  src/develop/ui/accessibility/intro.md
Owners: @rmlos

The File Viewer Plugin document
  src/extensibility-and-integration/mobile-plugins/file-plugin/intro.md
  src/extensibility-and-integration/mobile-plugins/file-transfer-plugin/images/reference-file-transfer-plugin-ss.png
  src/extensibility-and-integration/mobile-plugins/file-transfer-plugin/intro.md
  src/extensibility-and-integration/mobile-plugins/file-viewer-plugin/images/file-viewer-preview.png
  src/extensibility-and-integration/mobile-plugins/file-viewer-plugin/images/logic-file-viewer-ss.png
  src/extensibility-and-integration/mobile-plugins/file-viewer-plugin/images/resources-file-viewer-ss.png
  src/extensibility-and-integration/mobile-plugins/file-viewer-plugin/intro.md
  toc.yml
Owners: @rmlos, @OutSystems/technical-knowledge-group

Added Integration Builder documentation.
  related.yml
  src/extensibility-and-integration/integration-builder/connectors/images/ms-authorization-1.png
  src/extensibility-and-integration/integration-builder/connectors/images/salesforce-authorize.png
  src/extensibility-and-integration/integration-builder/connectors/images/sap-custom-spec-1.png
  src/extensibility-and-integration/integration-builder/connectors/images/sap-custom-spec-2.png
  src/extensibility-and-integration/integration-builder/connectors/images/sap-get-spec-1.png
  src/extensibility-and-integration/integration-builder/connectors/images/sap-get-spec-2.png
  src/extensibility-and-integration/integration-builder/connectors/images/sap-hub-1.png
  src/extensibility-and-integration/integration-builder/connectors/integration-ms-dataverse.md
  src/extensibility-and-integration/integration-builder/connectors/integration-ms-dynamics.md
  src/extensibility-and-integration/integration-builder/connectors/integration-salesforce.md
  src/extensibility-and-integration/integration-builder/connectors/integration-sap-get-spec.md
  src/extensibility-and-integration/integration-builder/connectors/integration-sap.md
  src/extensibility-and-integration/integration-builder/homepage.md
  src/extensibility-and-integration/integration-builder/images/add-dependencies-sap-ss.png
  src/extensibility-and-integration/integration-builder/images/architecture-diag.png
  src/extensibility-and-integration/integration-builder/images/basicfilters-example-ss.png
  src/extensibility-and-integration/integration-builder/images/basicorderby-example-ss.png
  src/extensibility-and-integration/integration-builder/images/choose-provider-ib.png
  src/extensibility-and-integration/integration-builder/images/create-connection-im.png
  src/extensibility-and-integration/integration-builder/images/login-page-ib.png
  src/extensibility-and-integration/integration-builder/images/my-integrations-im.png
  src/extensibility-and-integration/integration-builder/images/publishing-integration-ib.png
  src/extensibility-and-integration/integration-builder/intro.md
  src/extensibility-and-integration/integration-builder/set-up.md
  src/extensibility-and-integration/integration-builder/structure.md
  src/extensibility-and-integration/integration-builder/troubleshoot.md
  src/extensibility-and-integration/integration-builder/use.md
  src/extensibility-and-integration/integration-builder/works.md
  toc.yml
Owners: @OutSystems/technical-knowledge-group

Added more info of actions that invalidate cache
  src/develop/data/caching.md
Owners: @OutSystems/technical-knowledge-group

Improved the plugins docs
  src/extensibility-and-integration/mobile-plugins/file-plugin/intro.md
  src/extensibility-and-integration/mobile-plugins/file-transfer-plugin/intro.md
  src/extensibility-and-integration/mobile-plugins/file-viewer-plugin/intro.md
  src/extensibility-and-integration/mobile-plugins/images/forge-install.png
  src/extensibility-and-integration/mobile-plugins/images/manage-dependencies-plugin-ss.png
  src/extensibility-and-integration/mobile-plugins/images/plugin-exensibility-actions.xcf
  src/extensibility-and-integration/mobile-plugins/images/plugin-exensibility-window.xcf
  src/extensibility-and-integration/mobile-plugins/intro.md
  src/extensibility-and-integration/mobile-plugins/ssl-pinning/intro.md
Owners: @rmlos

New sap section intro
  src/extensibility-and-integration/sap/intro.md
Owners: @OutSystems/technical-knowledge-group

Edited the order
  src/extensibility-and-integration/mobile-plugins/intro.md
Owners: @rmlos

Info to set the number of suggestions
  src/develop/ui/patterns/mobile/interaction/dropdownsearch.md
  src/develop/ui/patterns/mobile/interaction/images/dropdownsearch-set-number-of-suggestions-ss.png
Owners: @rmlos

#RPM-902 Document email fields limit
  src/ref/lang/auto/Class.Send Email.md
Owners: @OutSystems/technical-knowledge-group

Revert "#RPM-902 Document email fields limit"
  src/ref/lang/auto/Class.Send Email.md
Owners: @OutSystems/technical-knowledge-group

#RPM-902 Document email fields limit
  src/ref/lang/auto/Class.Send Email.md
Owners: @OutSystems/technical-knowledge-group

MVP of the document
  src/extensibility-and-integration/mobile-plugins/barcode/images/client-action-ss.png
  src/extensibility-and-integration/mobile-plugins/barcode/intro.md
  toc.yml
Owners: @rmlos, @OutSystems/technical-knowledge-group

Minor updates
  src/extensibility-and-integration/artificial-intelligence/ml-builder/images/integration-overview-diag.png
  src/extensibility-and-integration/artificial-intelligence/ml-builder/intro.md
Owners: @rmlos

Combined topics and updated toc.
  src/extensibility-and-integration/integration-builder/homepage.md
  src/extensibility-and-integration/integration-builder/intro.md
  toc.yml
Owners: @OutSystems/technical-knowledge-group

Send mail characters limit
  src/ref/lang/auto/Class.Send Email.md
Owners: @OutSystems/technical-knowledge-group

[ML Builder] Updated the release notes for March 25, 2021
  src/extensibility-and-integration/artificial-intelligence/ml-builder/release-notes.md
Owners: @rmlos

Applied peer review.
  src/ref/errors-and-warnings/errors/locked-module-error.md
Owners: @OutSystems/technical-knowledge-group
